body {
  width: 90%;
  margin: 50px auto;
  font-family: 'EB Garamond', 'Helvetica Neue', serif;
}

pre {
  background-color: #efefef;
  padding: 0 1em;
  overflow-x: auto;
}

@media (min-width: 768px) {
  body {
    width: 500px;
    margin-top: 100px;
  }
}

.github-fork-ribbon {
  background-color: #6a0bc1;
}

.title {
  margin-bottom: 5px;
}

.subtitle {
  margin-bottom: 50px;
}

.example-description {
  color: #999;
}

.tags-row,
.emails-row {
  font-size: 0;
  padding: 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.tags-label,
.tags,
.emails-label,
.emails {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.5;
}

.tags-label {
  width: 40px;
  margin: 3px 0;
}
.tags {
  width: calc(100% - 40px);
}

.emails-label {
  width: 30px;
  margin: 3px 0;
}
.emails {
  width: calc(100% - 30px);
}
